<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form action="/th/update" method="post"  >
<pre>

nombre: <input  type="text" th:field="${empleado.nombre}"  />
sueldoXdia: <input type="text" th:field="${empleado.sueldoXdia}" />
diaTrabajados:<input  type="text" th:field="${empleado.diaTrabajados}" />

<input type="submit" value="save"/>
    <a href="/mvc/displayEmpleados">View All</a>
</pre>
</form>

</body>
</html>


