<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
<!--<nav class="navbar bg-primary" data-bs-theme="dark">-->
<!--    &lt;!&ndash; Navbar content &ndash;&gt;-->
<!--</nav>-->
<!--<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">-->

<!--<nav class="navbar  bg-dark border-bottom border-bottom-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">-->
    <nav class="navbar bg-primary border-bottom border-bottom-dark navbar-expand-lg" data-bs-theme="dark">

    <div class="container-fluid">
        <a class="navbar-brand" href="/mvc/displayEmpleados">Nominapp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/mvc/displayEmpleados">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mvc/showCreate">Crear Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--*********************     TABLA CON DATOS      *********************************-->
<h2>Lista de empleados:</h2>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>diaTrabajados</th>
        <th>sueldoXdia</th>
        <th>sueldoBruto</th>
        <th>sueldoNeto</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="empleado:${empleados}">
        <td th:text="${empleado.id}"></td>
        <td th:text="${empleado.nombre}"></td>
        <td th:text="${empleado.diaTrabajados}"></td>
        <td th:text="${empleado.sueldoXdia}"></td>
        <td th:text="${empleado.sueldoBruto}"></td>
        <td th:text="${empleado.sueldoNeto}"></td>

        <td><a th:href="@{'deleteEmpleado?id='+${empleado.id}}">delete</a></td>
        <td><a th:href="@{'showUpdate?id='+${empleado.id}}">edit</a></td>
    </tr>
    </tbody>
</table>
<a href="showCreate">Add Empleado</a>




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>